.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  &__container {
    display: flex;
    align-items: baseline;
  }
  &__logo {
    display: block;
    margin-bottom: 20px;
    color: var(--white-color);
  }
}
