.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo--header {
  margin-right: 91px;
  color: var(--title-text-color);
}

.logo__text {
  color: var(--accent-text-clor);
}
